# Ignore Jekyll build files
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
_site/
.bundle/
vendor/
# Ignore temporary files
*.log
*.tmp
*.swp

*.DS_Store
*.idea/
*.vscode/
*.sublime-project
*.sublime-workspace

Gemfile.lock
